* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: 'Roboto', 'Ariel', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

h1 {
  text-align: center;
  font-size: 34px;
  font-weight: 700;
}

.question p {
  font-size: 34px;
  font-weight: 700;
}

nav {
  display: flex;
  justify-content: space-between;
}

#timer {
  position: relative;
  height: 25px;
  width: 100px;
}

#start-btn {
  text-align: center;
  align-items: center;
}

button {
  display: block;
  padding: 10px;
  border-radius: 20px;
  margin: 10px 0;
  cursor: pointer;
  font-size: 24px;
  background-color: #6d4da8;
  color: white;
}

button:hover {
  background-color: #bb7be0;
}

header a {
  color: #bb7be0;
}

.container {
  margin: 80px auto;
  text-align: center;
  transition: 0.3s;
  width: 70%;
  height: 500px;
  padding-top: 20px;
}

.card-contents {
  padding: 5px 5px 10px 5px;
}

.hide { 
  display: none;
}

#initials {
  font-size: 18px;
}

.correct {
  color: green;
}

.wrong {
  color: red;
}